# --- Maven ---
target/

# --- Eclipse ---
.settings/
.classpath
.project
.factorypath

# --- IntelliJ IDEA ---
.idea/
*.iml
out/

# --- VS Code ---
.vscode/

# --- Sistema Operativo ---
.Ds_Store
Thumbs.db
